<!DOCTYPE html>
<html lang="en">
<!--tells Jinja that this template should replace the blocks from the base template.-->
<!--  extends '../base.html' # Jinja2在templates运行，虽然本文件在auth里（下一级），但是extends跟base同一级
 Layout变动会引起pycharm自动改变，..是pycharm自己加上的-->
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Fill Out Your File Form{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>{{ username }}'s file form</h2>
  <form method="post">
    <label for="password">Password *</label>
    <input type="password" name="password" id="password" required>
    <label for="firstname">First Name *</label>
    <input name="firstname" id="firstname" required>
    <label for="lastname">Last Name *</label>
    <input name="lastname" id="lastname" required>
    <label for="initial_amount">Initial amount *</label>
    <input name="initial_amount" id="initial_amount" required>
	<label for="phone_number">Phone Number</label>
    <input name="phone" id="phone">
    <input type="submit" value="Register">

  </form>
{% endblock %}